<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fde428"/>
    <meta name="description" content="EeatenIt | Best resto in the world!" />
    <title>EeatenIt | Best resto in the world!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/icons/icon-32x32.png">
    <link rel="apple-touch-icon" href="/icons/icon-32x32.png">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <app-bar></app-bar>
    <main id="main-content"></main>
    <footer-bar></footer-bar>
</body>

</html>