@media screen and (min-device-width: 1008px) {
  #list-resto {
    grid-template-columns: repeat(3, 1fr);
  }
}

#list-resto {
  width: 100%;
  display: grid;
  gap: 30px;
  border-radius: 10px;
  color: #fff;
}

.resto-item {
  width: 100%;
  background-color: var(--primary-blue);
  border-radius: 10px !important;
	height: auto !important;
}

.resto-item:hover{
  box-shadow: 0 10px 20px 0 rgb(121 135 119 / 50%);
}

.resto-heading img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	height: 260px;
}

.resto-content {
  color: #fff;
  padding: 10px 20px 20px 20px;
  height: auto !important;
  text-align: center;
}

.resto-content .resto-name h1 {
  display: flex;
  justify-content: center;
  color: var(--primary-yellow);
  align-items: center;
  align-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding:0;
  margin:0;
  min-height: 44px !important;
}

.resto-content .resto-name:hover h1{
  color: var(--primary-blue);
  background-color: var(--primary-yellow);
  transition: 0.95s;
}

.resto-content > p.resto-description {
  margin-top: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
	color: #fff;
}

.resto-city, .resto-rating{
	font-size:1.1rem;
}

footer{
  width: 100%;
  background-color: var(--primary-blue);
  padding:30px;
  box-sizing: border-box;
}

footer > p {
  width: 100%;
  text-align: center;
  color: #fff;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.fa-map-marker{
  color: #ea4335 !important;
}

.fa-star{
  color: var(--primary-yellow);
}

.like {
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #d610b5;
  color: #fff;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#empty-resto{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 52vh;
}

#empty-resto img{
  height: 70%;
}

.empty-resto-text{
  font-weight: 500 !important;
  border-bottom: 0 !important;
}

.hidden{
  display: none !important;
  visibility: hidden !important;
}