a {
  text-decoration: none;
  color: #fff;
  min-height: 44px;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  margin: 0 auto;
  font-size: 2rem;
  padding: 40px 0;
  color: var(--primary-blue);
  text-align: center;
}

h1 span {
  font-weight: 400;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  margin-bottom: 60px;
  width: 100%;
}

.content h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-blue);
  border-bottom: 1px solid var(--primary-yellow);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  line-height: 20px;
  color: #7c7c7c;
  text-align: justify;
}

/* Food list */
#our-foods{
    width: 100%;
    padding-top: 60px;
}

#our-foods h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0;
}

/* Media Query */
@media only screen and (max-width: 980px) {
  .content {
    width: 80%;
  }
  #our-foods{
    width: 80%;
  }
}

@media only screen and (max-width: 568px) {
  h1 {
    padding: 25px 0;
  }
  h1 span {
    display: block;
  }
  #main-content{
    margin-top:50px;
  }
  #our-foods{
    width: 100%;
    padding-top: 0;
}
}

@media only screen and (max-width: 480px) {
  section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
  label {
    padding: 5px 0;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    padding: 20px 0;
  }
}
